{
  "context_id": 12,
  "context_type": “Account”,
  "feature": "post_grades",
  "state": "on",
  "locking_account_id": null,
  "transitions": {
    "off": {
      "locked": false
    }
  },
  "locked": false
  
